body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #eeeeee;
}
#main {
    margin: 20px 5px;
    /* background-color: #FFF2D7; */
    border-radius: 5px;
}

#title {
    padding-top: 50px;
    text-align: center;
}

#main > p {
    text-align: center;
}

#img-div {
    border-radius: 5px;
    margin: 0px 15px;
}

#img {
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    display: block;
}

#img-caption {
    text-align: center;
    padding: 15px;
}



#tribute-info p {
    font-style: italic;
}

#tribute-info > h3 {
    text-align: center;
}
ul {
    width: 40%;
    margin: auto;
}

ul li {
    margin: 15px;
    color: #333333;
}
span {
    font-weight: bold;
}

footer h2 {
    text-align: center;
}

@media (max-width: 900px){
    ul {
        width: 100%;
        margin: auto;
    }

    ul li {
        font-size: 15px;
    }
}
